<div class="container mx-50-auto">
  <form [formGroup]="loginForm" (ngSubmit)="send()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="email"
        formControlName="email"
      />
      <div *ngIf="loginForm.get('email')?.errors">
        <div class="error" *ngIf="loginForm.get('email')?.hasError('required')">
          Email is required.
        </div>
        <div class="error" *ngIf="loginForm.get('email')?.hasError('email')">
          Invalid email format.
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        name="password"
        formControlName="password"
      />
      <div *ngIf="loginForm.get('password')?.errors">
        <div
          class="error"
          *ngIf="loginForm.get('password')?.hasError('required')"
        >
          Password is required.
        </div>
      </div>
    </div>
    <div class="mb-3 form-check">
      <input
        type="checkbox"
        class="form-check-input"
        id="exampleCheck1"
        name="check"
        (change)="changeStatus()"
      />

      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button
      type="submit"
      [disabled]="!loginForm.valid || !isCheck"
      class="btn btn-primary"
    >
      Submit
    </button>
  </form>
</div>
